.navbar {
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #1b1b79, #020227);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbarTitle {
  font-size: 1.8rem;
}
